* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url("/public/assests/Cairo-University.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header img {
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration-form {
    max-width: 600px;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fcai-logo {
    display: flex;
    align-items: center;
}

.nav img {
    width: 20px;
    height: auto;
}

.nav h2 {
    margin: 0 10px;
}

.dropbtn {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 6px 0;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    flex: 0 0 48%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.error-message {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background-color: #288ddc;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    border-radius: 20px;
}

input[type="file"]::-webkit-file-upload-button {
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #288ddc;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    border: none;
}